body{
    background-color:black;
}

.page-header {
    background-color: #3b5998; /*#ff9400; */
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width:980px;
    margin:auto;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    clear:both;
    margin-left: 40px;
    width:980px;
    margin:auto;
    border: 2px solid #3b5998;
    background-color: white;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-top: 70px;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #3b5998;
    padding: 30px 30px 70px 30px;
    border-radius:5px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.footer {
    clear:both;
    background-color:#3b5998;
    margin:auto;
    width:980px;
    height:50px;
    margin-bottom:0px;
    padding: 20px 20px 20px 40px;
}

.btn {

    float:right;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:5px;
    padding:5px;
}

.comment {
    margin: 20px 0px 20px 20px;
    border: 1px solid #3b5998;
    padding: 5px;
    border-radius:5px;
}

/*.edit-button btn
{
    width:60px;
    height:30px;
    float:right;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:5px;
    padding:0px;
} */